body{
    background-color: whitesmoke;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 140ex;
    font-family:'Times New Roman', Times, serif;
}

#Head{
    margin-top: 2em;
    font-size: 30px;
    text-align:center;
}

#Info{
    font-size: 15px;
    text-align: center;
    top: 5px;
}

h2{
    font-size: 22px;
    text-align: left;
}

h4{
    margin: 0;
    padding-top: 0;
    text-align: center;
}

h5{
    margin: 0;
    padding-top: 0;
    text-align: center;
    padding-bottom: 1.5cm;
}

.Profile{
    margin-top: 2.5em;
    height: auto;
    width: auto;
    text-align: left;
}

.EDU{
    margin-top: 3em;
    height: auto;
    width: auto;
    text-align: left;
}

.left{
    float: left;
    font-weight: bold;
    margin-top: 1.5em;
}

.right{
    float: right;
    font-weight: bold;
    margin-top: 9px;
}

.year{
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    margin-right: -2.23cm;
}

.Mathayom{
    margin-top: 5em;
    margin-left: 1cm; 
}

.activities{
    margin-left: 1cm; 
}

.Projects{
    margin-top: 6.5em;
    height: auto;
    width: auto;
    text-align: left;
}

.picture{
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 40%;
    height: auto;
}